* {
  font-family:"Segoe UI","Yu Gothic UI","Sarasa Mono SC",sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.border-bottom {
  border-bottom: 1px solid #e2e2e2 !important;
}

.border {
  border: {
    top: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.bg-white {
  background: white !important;
}

.bg-active {
  background: #1264A3;
}